.night-rider {
  background-color: #313131;
}

.rolling-stone {
  background-color: #6D706F;
}

.radical-red {
  background-color: #F04961;
}

.yello {
  background-color: #F89933;
}

.main-app {
  background-color: #3C4544;
  margin: 0 auto;
  width: 50%;
}

.display-board {
  background-color: #BCCD95;
}

.result {
  color: #fff;
}