/* .night-rider {
  background-color: #313131;
  border-color: #313131;
}

.rolling-stone {
  background-color: #6d706f;
}

.radical-red {
  background-color: #f04961;
  border-color: #f04961;
}

.yello {
  background-color: #f89933;
  border-color: #f89933;
}

.main-app {
  background-color: #3c4544;
  margin: 0 auto;
  width: 50%;
}

.group-1,
.group-2,
.group-3,
.group-4 {
  margin-bottom: 20px;
}

.btn-spacing {
  margin-left: 10px;
}

.btn-width {
  width: 50px;
}

.digit-width {
  width: 52px;
}

.btn-shape {
  padding: 5px;
  border-radius: 7px;
  outline: none;
  font-size: 25px;
  font-weight: bolder;
}

.display-board {
  background-color: #bccd95;
}

.result {
  color: #000;
  text-align: center;
}

.btn-panel {
  text-align: center;
  padding: 20px;
  padding-bottom: 30px;
} */

.display-board, .group {
  display: flex;
}

.display-board {
  background-color: grey;
  height: 80px;
  padding: 5px;
  color: #fff;
  justify-content: flex-end;
}

.group {
  height: 100px;
}

.btn-width {
  width: 25%;
  font-weight: bolder;
  color: #000;
  font-size: 30px;
}

.width-50 {
  width: 50%;
  font-weight: bolder;
  color: #000;
  font-size: 30px;
}

.orange {
  background-color: orange;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  margin-top: -10px;
}

.nav h2 {
  color: #fff;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  list-style-type: none;
  padding: 0 20px 0 20px;
  color: #fff;
  font-size: 30px;
  padding: 10px;
}

.nav ul a:hover, .nav a:hover {
  background-color: rgb(179, 173, 173);
}

.nav ul a, .nav a {
  text-decoration: none;
}

.app {
  width: 700px;
  margin: 0 auto;
  height: 100vh;
}
